################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/obj
bin/
/wwwroot/Distribution
/wwwroot/Server
/wwwroot/Source
/wwwroot/Client
