@media (max-width: 991px) {
  .af-view .af-class-career-page-heading {
    max-width: 450px;
  }
}
@media (max-width: 479px) {
  .af-view .af-class-career-page-heading {
    max-width: 280px !important;
  }
  .af-view .af-class-page-header.af-class-career-overview {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .af-view .af-class-page-header-content.af-class-light {
    align-items: baseline;
  }
  .af-view .af-class-page-header.af-class-career-overview {
    margin-bottom: 25px;
  }
}
@media (min-width: 1600px) {
  .giving-back .af-class-button.af-class-boss.af-class-yellow.af-class-no-margin.af-class-career-page-header-btn-offset.w-inline-block{
    right: -30%;
  }
  .benefits
  .af-class-button.af-class-boss.af-class-yellow.af-class-no-margin.af-class-career-page-header-btn-offset.w-inline-block{
    right: -35%;
  }
}
@media(max-width: 479px) {
  .af-class-page-header.af-class-career-overview {
    height: 400px !important;
  }
}
@media (min-width: 1440px) {
  .af-class-page-header.af-class-career-overview {
    min-height: 900px;
  }
}
.af-class-page-header.af-class-career-overview.careers-overview,
.af-class-page-header.af-class-career-overview.culture,
.af-class-page-header.af-class-career-overview.benefits,
.af-class-page-header.af-class-career-overview.giving-back,
.af-class-page-header.af-class-career-overview.professional-development {
  background-position: center top !important;
}
