.af-class-spotlight-special-feature .af-class-div-block-142 {
    max-width: 1920px !important;
}
.af-class-spotlight-special-feature {
    padding-top: 25px !important;
    padding-bottom: 15px !important;
}