.af-class-floorplan-link-list > span > li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.af-class-floorplan-link-list > span {
  flex: 0 1 100px !important;
  flex-basis: 100px !important;
}
.react-calendar,
.react-date-picker__calendar.react-date-picker__calendar--open {
  z-index: 100;
}
.react-calendar__month-view__days__day--weekend {
  color: #333333 !important;
}
@media (min-width: 480px) and (max-width: 890px) {
  .react-calendar,
  .react-date-picker__calendar.react-date-picker__calendar--open {
    transform: translate(-10%, 0);
  }
}
/* @media (min-width: 350px) and (max-width: 395px) {
  .react-calendar,
  .react-date-picker__calendar.react-date-picker__calendar--open {
    transform: translate(10%, 0);
  }
} */
@media (max-width: 350px) {
  .react-calendar,
  .react-date-picker__calendar.react-date-picker__calendar--open {
    transform: translate(5%, 0);
  }
}
@media (max-width: 479px) {
  .react-calendar {
    width: 300px;
  }
  .react-date-picker__calendar {
    left: -100%;
    width: 300px;
  }
  .af-class-sticky-floorplan-wrapper .af-class-div-block-180 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .af-class-sticky-floorplan-wrapper .af-class-div-block-208 {
    justify-content: space-around;
    padding-bottom: 15px !important;
  }
  .af-class-sticky-floorplan-wrapper
    .af-class-div-block-180
    .af-class-text-block-55 {
    width: 100%;
    padding-bottom: 4px;
  }
}
