<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script type="text/javascript" src="scripts/APIServerControllerClient.js"></script>

    <script type="text/javascript">
        
    </script>
    <script type="text/javascript">     
        function Action()
        {
            const storylineDetailsValue = document.getElementById("textbox").value;
            const storylineDetails_Parameters = JSON.parse(storylineDetailsValue);

            let storyline = new Client.BaseDI.Master.Service.Programming.MasterLeader.APIServerControllerClient(this, null, storylineDetails_Parameters);

            //alert(JSON.parse(a));

            //storyline.Action();
        }
    </script>
    <style type="text/css">
        #textbox
        {
            width:100%;
            height:100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">BaseDI APIServer Playgroud</h1>
        <a class="btn" href="#" onclick="Action();"><i class="material-icons right">arrow_forward</i>Save</a>
        <label>Post JSON</label>
        <textarea cols="25" id="textbox" rows="40"></textarea>
    </div>
</body> 
</html>