propertycontactmapitemviewlist2,
propertycontactmapscheduleitemviewlist0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
propertycontactmapitemviewlist2 > span:first-child {
  margin-right: 20px !important;
  margin-bottom: 10px;
}
propertycontactmapitemviewlist2 {
  transform: translate(15px, 10px);
}

.af-class-div-block-418 {
  width: 100% !important;
}
.af-class-property-contact-details-wrap {
  padding: 25px !important;
}

div.gm-svpc,
div.gm-style-mtc {
    display: none !important;
}

div.gmnoprint > div:first-child {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
div.gmnoprint > div:first-child > button:hover {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.35));
}

div.gmnoprint > div:first-child > button {
    border-radius: 50% !important;
    background-color:white !important;
    margin-bottom: 10px !important;
    top: -30px !important;
    left: -30px !important;
    width: 50px !important;
    height: 50px !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}
.af-class-div-block-419 .af-class-section-title {
  font-size: 12px !important;
}

propertycontactmapscheduleitemviewlist0 {
  justify-content: space-between !important;
}

@media only screen and (max-width: 425px) {
  .af-class-div-block-420 > propertycontactmapscheduleitemviewlist0 {
    flex-direction: column;
  }
  propertycontactmapscheduleitemviewlist0 > span:nth-child(2) > div {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 425px) and (-ms-high-contrast: none) {
  propertycontactmapscheduleitemviewlist0 > span,
  .af-class-div-block-420 > propertycontactmapscheduleitemviewlist0 {
    flex-basis: auto !important;
  }
  .af-class-div-block-420 > propertycontactmapscheduleitemviewlist0 {
    flex-direction: row;
    display: block !important;
  }
}
