.af-class-sustainable-why-we-care {
    margin-top: 50px
}
@media (min-height: 779px ) {
    .af-class-benchmark-row.af-class-margin-top-bottom {
        margin-bottom: 0px !important;
    }
    .af-class-benchmark-row.af-class-margin-top-bottom 
    .af-class-div-block-120 {
        padding-bottom: 0px;
    }
    .af-class-div-block-415
    .af-class-div-block-90 {
        padding-bottom: 0px;
    }
}
.af-class-benchmark-leed-numbers-wrapper
.af-class-text-block-25 {
    font-size: 15px !important;
}