.af-class-property-contact-detail-col-label {
    font-weight: 900 !important;
    font-size: 14px !important;
}
.af-class-property-contact-details-content .af-class-div-block-420 {
    margin-bottom: 0px !important;
}