.hours {
    white-space: nowrap;
}

.days {
}

.container {
    margin-right: 10px;
}

.note {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
