.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media all and (-ms-high-contrast: none) {
    .container {
        flex-basis: auto;
    }
    .container > span {
        flex-basis: auto !important;
    }
}
